<h1>Crear hospital EF</h1>

<form method="post">
    <div class="mt-3">
        <label class="form-label">Código Hospital</label>
        <input type="number" name="hospitalcod" class="form-control" />
    </div>
    <div class="mt-3">
        <label class="form-label">Nombre</label>
        <input type="text" name="nombre" class="form-control" />
    </div>
    <div class="mt-3">
        <label class="form-label">Dirección</label>
        <input type="text" name="direccion" class="form-control" />
    </div>
    <div class="mt-3">
        <label class="form-label">Teléfono</label>
        <input type="text" name="telefono" class="form-control" />
    </div>
    <div class="mt-3">
        <label class="form-label">Num Camas</label>
        <input type="number" name="numcamas" class="form-control" />
    </div>
    <button class="btn btn-success w-100 mt-3">Crear hospital</button>
</form>